# python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# venv
**/venv/
.venv/
env/

# frontend (node)
node_modules/
dist/
dist-ssr/
*.log

# env / config
.env
.env.*
!.env.example
*.sqlite3

# os / ide
.vscode/
.idea/
.DS_Store
Thumbs.db